.header {
  max-width: 880px;
  min-height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 45px auto 40px;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
    min-height: 56px;
    margin: 28px 0 42px;
  }
}
